<!-- start hbs template -->
<div class="row">
 <div class="col mt-5">
    {{#grouped_each 6 user.cards}}
  <div class="row">
    {{#each this }}
      <div id="" class="card card-collection">
            <img id="" src="{{image_url}}" class="card-img-top" alt="...">
            <div id="" class="card-body">
            <h5 id="" class="card-title">{{name}}</h5>
            <ul id="" class="">
                <li id="" class="list-item"><i class="fad fa-swords me-2"></i>{{attack}}</li>
                <li id=""  class="list-item"><i class="fad fa-eye-evil me-2"></i>{{faction.name}}</li>
            </ul>
            </div>
            <div id="" class="card-footer">
            <small id="" >{{card_id}}</small>
            </div>
        </div>     
    {{/each}}
  </div>
{{/grouped_each}}

<!-- Card Group -->
    <div id="collection-card-group" class="card-group">
          {{#each user.cards }}
        <!-- card -->
        <div id="" class="card card-collection">
            <img id="" src="{{image_url}}" class="card-img-top" alt="...">
            <div id="" class="card-body">
            <h5 id="" class="card-title">{{name}}</h5>
            <ul id="" class="">
                <li id="" class="list-item"><i class="fad fa-swords me-2"></i>{{attack}}</li>
                <li id=""  class="list-item"><i class="fad fa-eye-evil me-2"></i>{{faction.name}}</li>
            </ul>
            </div>
            <div id="" class="card-footer">
            <small id="" >{{card_id}}</small>
            </div>
        </div>     
        {{/each}}
    </div><!-- card group -->


 </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


