<!-- start hbs template -->
<div><h2>My Deck</h2></div>
<div id="userId" userId="{{user.id}}"></div>

 {{#grouped_each 6 user.deck.cards}}
  <div class="row">
    {{#each this }}
      <div class="card card-collection card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url({{image_url}});">
      <div class="d-flex h-100 p-5 pb-3 text-white text-shadow-1">
        <h4 class="pt-3 mt-3 mb-4 lh-1 fw-bold"><p>{{name}}</p></h4>
      </div>
      <div class="card-footer position-sticky">
        <h5 class="badge-battle"><span class="badge rounded-pill bg-light text-dark"><i class="fad fa-swords me-2"></i><span class="badge rounded-pill bg-danger">{{attack}}</span></span></h5>
        <h5 class="badge-faction"><span class="badge rounded-pill bg-light text-dark"><i class="fad fa-helmet-battle me-2"></i><span class="badge rounded-pill bg-info">{{faction.name}}</span></span></h5>
        <button type="button" class="btn btn-danger removeFromDeck">{{id}}</button>

  </div>
    </div>
    {{/each}}
  </div>
{{/grouped_each}}
<div class="row row-1">
</div>
<div><h2>add to deck</h2></div>

<div class="container">
  <div class="row">

  </div>
</div>

<div id="extraCards" class="container row"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- end hbs template -->

<script src="/js/deck.js"></script>

